<!DOCTYPE html>
<html lang="zh"></html>
<title>sungbly team-drive||home</title>
<link rel="shortcut icon" href=".../img/icon.ico">
<body>
    <img src="img/index head.png" alt="Smiley face" width=100% height="100">
    <p>name</p>
    <p>Updata By </p>
    <p>Updata time:</p>
    <a href="" download="">Download</a>
    <p></p>
    <a href="https://sungbly-team-studio.github.io">Copyright 2022 sungbly-team-studio/sungbly-drive-team.</a>
    <p></p>
    <a href="https://sungbly1tsstt.github.io">Theme and html program By sungbly_tsstt.</a>
</body>
